.env

node_modules/
infrastructure/terraform.tfvars
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/tfplan
